<nav>
    <div class="site-title">
        <p>
            <%= name %>
        </p>
        <a href="/">
            <h1>Blog Ninja</h1>
        </a>
        <p>A Net ninja site</p>
    </div>
    <ul>
        <li><a href="/"> Blogs</a> </li>
        <li><a href="/about">About </a></li>
        <li><a href="/blogs/create"> New Blog</a></li>
    </ul>
</nav>